<h3>Eat-Da-Burger!</h3>

<!-- handlebars ordered list of burgers you want to eat -->
<ol>
	{{#each burgers}}
		
	{{/each}}
</ol>

<!-- handlebars ordered list of burgers you have already eaten -->
<ol>
</ol>

<form class="create-form">
	<div class="form-group">
		<textarea id="burgerText" rows="3" cols="80"></textarea>
	</div>

	<button type="button">Submit</button>

	<p>Enter a burger you want to eat. Click the "Submit" button.</p>
</form>

