<h3>Eat-Da-Burger!</h3>

<!-- handlebars ordered list of burgers you want to eat -->
<h2>BURGERS NOT DEVOURED</h2>
<ul>
	{{#each burgers}}
		{{#unless devoured}}
			<li>
				<p>
					{{this.id}}. {{this.burger_name}}

					<button data-id="{{this.id}}" class="eatburger" data-devoured="false">Devour It!</button>
				</p>
			</li>			
		{{/unless}}
	{{/each}}
</ul>
<hr>

<!-- handlebars ordered list of burgers you have already eaten -->
{{!-- <ol>
</ol> --}}
<h2>BURGERS DEVOURED</h2>
<ul>
	{{#each burgers}}
		{{#if devoured}}
			{{> burgers/burger-block devour=true}}
		{{/if}}
	{{/each}}
</ul>
<hr>

<form id="addburger" class="button-size">
	<input type="text" name="burger" id="newburger">
	<button type="submit">Submit</button>
</form>
<p>Enter a burger you want to eat. Click the "Submit" button.</p>